.layout-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.layout-main{
    flex:1;
    background-color: #f8f9fa;
}

.layout-header,.layout-footer{
    background-color: #002452;
    color: white;
    padding: 1rem;
}
 
/* navbar */
.header-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    min-width: auto;

}

.nav-item{
margin: 0px 10px;

    
}
.nav-item > a {
  color: white;
  font-weight:600;
  text-decoration: none;
}
.nav-item > a:hover {
  color: orange;
  font-weight:600;
  text-decoration:double;
}

.navbar-toggler{
  background-color: beige;
  border:2px solid black;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  
}

.navbar-toggler:focus{
  box-shadow: none;

}



.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  display: none;
  position: absolute;
  z-index: 1000;
}

.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu:focus-within > .dropdown-menu {
  display: block;
 
}
